main{
    background-image: url('https://i.pinimg.com/originals/b8/00/87/b800878ec9ca72ed7f4ebe64e4aa1832.jpg');
}

main>a>button {
    position: absolute;
   padding: 0.5rem 1rem;
   top: 2rem;
   left: 2rem;
   border-radius: 1rem;
   cursor: pointer;
   background-color: rgb(97, 22, 22);
   border: 1px solid white;
   color:white
}
.container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 50rem;
    height: 38rem;
    position: relative;
    margin: auto;
}

.containerBack {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(0.3rem);
    background-color: rgb(63, 16, 16, 0.5);

}

.containerBack div {
    margin: 3.25rem 2.5rem;
    color: white;
    transition: all 500ms;
}

.containerBack div p,.containerBack div button {
    margin-top: 2rem;
}

.containerBack h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

.containerBack button {
    padding: 0.5rem 2.5rem;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transform: all 300ms;
    border-radius: 0.5rem;
}

.containerBack button:hover {
    background-color: white;
    color: rgb(63, 16, 16);
}

.containerFront {
    width: 100%;
    max-width: 23.75rem;
    display: flex;
    align-items: center;
    position: relative;
    top: -11rem;
    left: 0.65rem;
}

.containerFront form{
    width: 100%;
    padding: 3rem 1rem;
    background-color: white;
    position: absolute;
    border-radius: 1.25rem;
}

.containerFront form h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.25rem;
    color: rgb(63, 16, 16);
}
.containerFront form input{
    width: 90%;
    margin-top: 1.25rem;
    padding: 0.65rem;
    border: none;
    background-color: #f2f2f2;
}
.containerFront form button{
    padding: 0.65rem 2.5rem;
    margin-top: 2.5rem;
    font-size: 1rem;
    background-color: rgb(63, 16, 16);
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.5rem;
}

.containerFront form input::placeholder {
    color: rgb(63, 16, 16);
}

.formLogin {
    opacity: 1;
    display: block;
}

.formRegister {
    display: none;
}

.formRegister.active {
    display: block !important;
    left: 97% !important;
}

.formLogin.active {
    display: none;
}
